.ventas-container {
  padding: 20px;
  color: #ecf0f1;
  font-family: 'Segoe UI', sans-serif;
}

.ventas-container h1 {
  color: #f39c12;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #313134e6;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);

}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #34495e;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  border: 1px solid #f39c12;

  
}

th {
  background: #313134e6;
  color: #f39c12;
}

tr:hover {
  background: #313134e6;
  transform: scale(1.01);
  transition: all 0.3s ease;
}
