.usuarios-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: #ecf0f1;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  
  
}

.usuarios-table thead {
  background-color: #f39c12;
  color: #1c2833;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
  
  

}

.usuarios-table th,
.usuarios-table td {
  padding: 12px 15px;
  border: 1px solid #f39c12;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  
}

.usuarios-table tbody tr:hover {
  background-color: rgba(170, 174, 177, 0.5);
  cursor: default;
}

.usuarios-table tbody tr:nth-child(even) {
  background-color: rgba(52, 73, 94, 0.5);
}
