.content h1 {
  color: #f39c12; 
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 3px #000;
  font-size: 2.4rem;
}

.clientes-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.clientes-lista li {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  margin-bottom: 15px;
  padding: 15px 20px;
  color: #ecf0f1;
  transition: background 0.3s ease, transform 0.3s ease;
  cursor: default;
}

.clientes-lista li:hover {
  background: rgba(243, 156, 18, 0.8); 
  color: #1c2833;
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(243, 156, 18, 0.9);
}

.clientes-lista strong {
  font-weight: 700;
  font-size: 1.2rem;
  margin-right: 10px;
}
